<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd" >
    <head>  
        <title>Wicket Quickstart Archetype Homepage</title>
    </head>
    <body>
        <strong>Wicket Quickstart Archetype Homepage</strong>
        <br/><br/>
        <span wicket:id="message">message will be here</span>
        <ul>
        	<li><a href="/hello.do">Spring MVC Page</a></li>
        	<li><a href="/?wicket:bookmarkablePage=:com.github.mazak.views.HelloPage">Wicket Page</a></li>
        	<li><a href="/HelloPage.do">Spring MVC + Wicket Page</a></li>
        </ul>
    </body>
</html>
