<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<context:component-scan base-package="com.github.mazak.controllers" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean id="viewResolver" class="com.github.mazak.util.WicketUrlBasedViewResolver"
		p:order="0" p:viewClass="org.springframework.web.servlet.view.InternalResourceView"
		p:prefix="/wicket/bookmarkable/" p:suffix="" />
	<bean id="jstlViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:order="1" p:viewClass="org.springframework.web.servlet.view.JstlView"
		p:prefix="/WEB-INF/views/" p:suffix=".jsp">
	</bean>
</beans>